.uc-button {
  width: 220px;
  height: 60px;

  background: black;
  color: white;

  border: 3px solid white;

  font-size: 22px;
  font-family: inherit;

  cursor: none;

  transition: 0.25s;
}

.uc-button:hover {
  background: white;
  color: black;
  cursor: none;
}

.uc-button:active {
  transform: scale(0.97);
}

.uc-button-disabled {
  opacity: 0.5;
  cursor: none;
}

.uc-button-disabled:hover {
  background: black;
  color: white;
  cursor: none;
}